body {
    font-family: 'Roboto Slab', serif;
    color: #777;
    margin: 0;
    padding: 0;
}
.txt-white {
    color: white;
}
#container {
    padding: 0;
    padding-left: 0
}
#header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/header/pictures_on_the_wall.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content:  center;
    align-items: center;
}
nav {
    padding: 0 8px;
}
}
.navbar-brand {
    font-size: 1.5em;
}
.nav-link {
    color: white !important;
    transition: 0.7s;
}
.nav-link:hover {
    color:  #0ed8d6 !important;
}
.nav-scrolled {
    background-color: rgba(14, 216, 214, 0.74);
}
.nav-scrolled a:hover {
    color: aliceblue;
}
.italic {
    font-family: 'Lora', cursive;
    font-style: italic;
}
.btn-header {
    margin-left: 50%;
    transform: translateX(-50%)
}
#site-title h1, #site-title h2{
    margin-bottom: 40px;
}
#navbarNav {
    justify-content: flex-end;
}
section {
    min-height: 100vh;
    padding-top: 30px;
}
section p:first-of-type {
    margin-bottom: 35px;
}
.service-item {
    height: 300px;
}
.service-icon {
    background-color: #0ed8d6;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 10px;
    transition: 0.7s;
}
.service-icon:hover {
    transform: rotate(360deg);
}
#portfolio {
    background-color: #f7f7f7;
}
.portfolio-container {
    margin-bottom: 20px;
}
.portfolio-content{
    background-color: white;
    padding: 5px;
}
#portfolio1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}
#portfolio2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}
#portfolio3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}
#portfolio4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}
#portfolio5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}
#portfolio6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}
.portfolio-image {
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.portfolio-mask {
    position: absolute;
    background-color: rgba(14, 216, 214, 0.74);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 75px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.7s;
}
.portfolio-mask:hover {
    opacity: 1;
}
.team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
    justify-content: center;
}
.team-image img {
/*    width: 80%;*/
    border-radius: 50%;
}
.team-social {
   
    text-align: center;
}
.team-social i {
    width: 50px;
    height: 50px;
    font-size: 2em;
    background-color: black;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
    transition: 0.7s;
}
.team-social a {
    color: white;
}
.team-social i:hover {
    background-color: #0ed8d6;
}
#contact {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/footer/world-map.jpg);
    background-size: cover;
}
#contact input {
    margin-bottom: 40px;
}
#contact textarea {
    width: 100%;
    height: 224px;
    font-size: 1.25rem;
}
input[type="submit"] {
    background-color: #0ed8d6;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%)
        
}
#footer {
    font-size: 0.85em;
    padding-top: 10px;
}
#footer1 {
    vertical-align: middle;
}